Repository thedevopscat/openhack-devops-team3, changes with the owners that CODEOWNERS names for each.
All owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

CODEOWNERS:

/apis/poi/ @thedevopscat @darren-johnson @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/trips/ @thedevopscat @darren-johnson @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/user-java/ @mostafaabdelrahman @PaulThrupp-STW @GeraintJones-STW @TomBurton-STW @sarbjitbilling-stw
/apis/userprofile/ @sarbjitbilling-stw

Fix run criteria
  .github/workflows/user-java-cd.yml
Owners: none

Fix indent
  .github/workflows/user-java-cd.yml
Owners: none

Amended
  .github/workflows/trips-ci.yml
Owners: none

Add swap container logic
  .github/workflows/user-java-cd.yml
Owners: none

adding polling.sh
  resources/polling.sh
Owners: none

add health check sstep
  .github/workflows/user-java-cd.yml
Owners: none

Update plooing script to exit on success
  resources/polling.sh
Owners: none

Update plooing script to exit on success
  resources/polling.sh
Owners: none

Update plooing script to exit on success
  resources/polling.sh
Owners: none

Update plooing script to exit on success
  resources/polling.sh
Owners: none

Update plooing script to exit on success
  resources/polling.sh
Owners: none

Update plooing script to exit on success
  .github/workflows/user-java-cd.yml
Owners: none

Update plooing script to exit on success
  .github/workflows/user-java-cd.yml
Owners: none

Update plooing script to exit on success
  resources/polling.ps1
Owners: none

Update plooing script to exit on success
  .github/workflows/user-java-cd.yml
Owners: none

Add healtch check timeout
  .github/workflows/user-java-cd.yml
Owners: none

Changed Port from 9090 to 8080
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Readded tests
  .github/workflows/poi-ci.yml
Owners: none

Changed port back to 9090
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Updated SQL Server Name from sqlserver3
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Updated Expected connection string from sqlserver3
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Reverted to sqlserver3
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Removed --no-build --verbosity normal
  .github/workflows/poi-ci.yml
Owners: none

added numpty
  apis/poi/tests/IntegrationTests/POITests.cs
Owners: @thedevopscat, @darren-johnson, @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Create dep.yml
  .github/dependabot.yml
Owners: none

Update dependabot.yml
  .github/dependabot.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update pom.xml
  apis/user-java/pom.xml
Owners: @mostafaabdelrahman, @PaulThrupp-STW, @GeraintJones-STW, @TomBurton-STW, @sarbjitbilling-stw

Update user-java-ci.yml
  .github/workflows/user-java-ci.yml
Owners: none

Update user-java-ci.yml
  .github/workflows/user-java-ci.yml
Owners: none

Update user-java-ci.yml
  .github/workflows/user-java-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

Update poi-ci.yml
  .github/workflows/poi-ci.yml
Owners: none

dave
  secrets-setup.md
Owners: none
